/node_modules
/public/hot
/public/storage
/public/videos
/public/images
/public/images/*
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
public/images/category/1U1apsuH6eyd9akHO5HtnN8T8mJ8t5xxRVFXZQ6o.jpeg
public/images/category/7nxITnSTcq3Uv5GjXWUVlVGMSi1R33ut7AUlSuNe.jpeg
*.jpeg
